body {
  background: linear-gradient(135deg, #ffb6c1, #ffc0cb);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: auto;
}

.card {
  background: #fff;
  padding: 25px;
  border-radius: 20px;
  text-align: center;
  width: 90%;
  max-width: 420px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.photos img,
.secret img {
  width: 100%;
  border-radius: 15px;
  margin-top: 10px;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background: hotpink;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.title {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 12px;
  position: relative;
  animation: popIn 1.2s ease;
}

.title::after {
  content: "";
  display: block;
  width: 60%;
  height: 4px;
  background: hotpink;
  margin: 8px auto 0;
  border-radius: 10px;
  animation: underline 1.5s ease;
}

@keyframes popIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes underline {
  from { width: 0; }
  to { width: 60%; }
}


.secret {
  display: none;
  margin-top: 15px;
}

/* Hati */
.heart {
  position: fixed;
  bottom: -20px;
  font-size: 24px;
  animation: floatUp 2.5s ease-out forwards;
}

@keyframes floatUp {
  from { transform: translateY(0); opacity: 1; }
  to { transform: translateY(-100vh); opacity: 0; }
}
